:root{
    --f-size:2em;
}
*{
    margin:0;
    padding:0;
}

#errorName{
     margin-top: 10px;
     margin-left: 10px;
    --f-size:4em;       
    font-size: var(--f-size);
}
#flex-container{
    display: flex;
    font-size: var(--f-size);
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom:50px ;
}
#image{
    margin: 0 auto;    
    width: clamp(200px,50%,400px);
    
}
#image >img{
    object-fit: contain;
    width: 100%;
}

.link{
    --f-size:1.5rem;
    text-decoration: none;
    font-size: var(--f-size);
    padding: 5px;
    text-align: justify;
    border-radius: 10px;
    border: 1px solid #000;
    color: black;
    background-color: white;
    box-shadow: 0px 5px 5px black;
}
.link:hover{
    border:none;
    color: white;
    background-color: #555;
   box-shadow: none;
}
#footer>p{
    text-align: center;
}
#footer{
    width: 100%;
    padding: 10px;   
    background-color: #ccc;
    position: fixed;
    left: 0;
    bottom: 0;
}
@media screen and (max-width: 450px) {
    
    #flex-container{
        font-size: 110%;
        height:80vh;
    }
    
  }